version: '3.8'

services:
  backend:
    build: ./Backend
    container_name: backend_app
    restart: always
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    environment:
      BACKEND_PORT: ${BACKEND_PORT}
    depends_on:
      - database
    networks:
      - app-network

  frontend:
    build: ./Frontend
    container_name: frontend_app
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - PORT=${FRONTEND_PORT}
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: nginx_proxy
    ports:
      - "80:80"
    environment:
      - BACKEND_PORT=${BACKEND_PORT}
      - FRONTEND_PORT=${FRONTEND_PORT}
      - BACKEND_HOST=backend_app
      - FRONTEND_HOST=frontend_app
      - NGINX_LOG_LEVEL=error
    depends_on:
      - backend
    networks:
      - app-network

  database:
    build: ./db
    container_name: postgres_db
    restart: always
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
